[submodule "3rdParty/qautostart"]
	path = 3rdParty/qautostart
	url = https://hub.fastgit.org/b00f/qautostart.git
[submodule "3rdParty/qmarkdowntextedit"]
	path = 3rdParty/qmarkdowntextedit
	url = https://hub.fastgit.org/pbek/qmarkdowntextedit
[submodule "3rdParty/QSimpleUpdater"]
	path = 3rdParty/QSimpleUpdater
	url = https://hub.fastgit.org/alex-spataru/QSimpleUpdater
